## Environment
NODE_ENV=development
## Server
PORT=3001
JET_LOGGER_MODE=CONSOLE
JET_LOGGER_FILEPATH=jet-logger.log
JET_LOGGER_TIMESTAMP=TRUE
JET_LOGGER_FORMAT=LINE
API_KEY=[YOUR BRIGHT DATA API KEY]
COLLECTOR_ID=[DATA COLLECTOR ID]
DB_CONNECTION_STRING=mongodb://localhost:27017 